.idea/
test-results
*.xml
*.html
test-results/*.json
package-lock.json
api-test/Main/customs/*.pyc
api-test/Main/customs/__pycache__/*.pyc
.DS_Store
api-test/.DS_Store
api-test/Tribe/.DS_Store
*.webm
web/Main/customs/__pycache__/*.pyc
*.png
android-app/Main/resources/devices.txt
*.mp4
web/Tribe/try_login/
robot_results.db
android-app/Main/customs/__pycache__/*
build
devices.txt
test_result.json
users.txt